services:
  db:
    image: postgres:15
    container_name: workplace-tasks-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: myapp
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Api/Dockerfile
    container_name: workplace-tasks-api
    depends_on:
      - db
    environment:
      ConnectionStrings__Postgres: "Host=db;Port=5432;Database=myapp;Username=postgres;Password=postgres"
    ports:
      - "5000:8080"

volumes:
  db-data:
