.signup-container {
  margin: auto auto;
  padding: 16px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  min-width: 400px;
}
@media (min-width: 768px) {
  .signup-container {
    width: 50%;
  }
}
